body {
font-family: Arial, sans-serif;
background-color: #b223b2;
padding: 20px;
display: flex;
flex-direction: column;
}
h1 {
color: midnightblue;
}
ul {
background-color: rgb(226, 218, 218);
padding: 10px;
border-radius: 5px;
}
 
